In [2]:
import pandas as pd

In [14]:
# Read the tracks.csv to a pandas dataframe.
tracks = pd.read_csv('tracks.csv', index_col=0, header=[0, 1])

In [17]:
# The csv is multiindexed so we need to double-index the appropriate column to create a dataframe from them.
subset = tracks[[('artist', 'name'), ('track', 'title'), ('album', 'title'), ('album', 'date_created')]]

# Throw the rows which have any null value cells.
subset = subset[~subset.isnull().any(axis=1)]

# Select the artist and title columns as a new dataframe.
new_songs = subset[[('artist', 'name'), ('track', 'title')]]

# Drop the first index level.
new_songs.columns = new_songs.columns.droplevel()

# Create a new datadframe with flattening the remaining double indexeses.
song_full_title = pd.DataFrame(new_songs.to_records())

# Create a new column from artist name and track title as long_title.
song_full_title["long_title"] = song_full_title["name"] + " " + song_full_title["title"]

display(song_full_title.head())

   track_id        name            title                  long_title
0         2        AWOL             Food                   AWOL Food
1         3        AWOL     Electric Ave           AWOL Electric Ave
2         5        AWOL       This World             AWOL This World
3        10   Kurt Vile          Freeway           Kurt Vile Freeway
4        20  Nicky Cook  Spiritual Level  Nicky Cook Spiritual Level